<h1><%= @student.to_s %></h1>
<<<<<<< HEAD
<h3><%= @student.active? %></h3>
=======

<p><%= @student.active? "This student is currently active." : "This student is currently inactive."%></p>
>>>>>>> f7e65d88f746c7fca2805841f68af50dbd10f0bb
